
week-3_Assignment-2/tasks.db
week-3_Assignment-2/*.db-journal
week-3_Assignment-2/*.db-wal
week-3_Assignment-2/*.db-shm

# ==========================
# Python cache (all projects)
# ==========================
**/__pycache__/
*.py[cod]

# ==========================
# Virtual Environments (all projects)
# ==========================
**/myenv/
**/venv/
**/.venv/

# ==========================
# Environment files
# ==========================
.env

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS files
# ==========================
.DS_Store
Thumbs.db

# Python virtual environment
week-3_Assignment-3/myenv/

# Environment variables
.env



